[submodule "docs/project-knowledge/ateliers-ai-mcp"]
	path = docs/project-knowledge/ateliers-ai-mcp
	url = https://github.com/yuu-git/ateliers-ai-mcp-projectbase.git
[submodule "docs/ateliers-knowledge"]
	path = docs/ateliers-knowledge
	url = https://github.com/yuu-git/ateliers-knowledge.git
