.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}

.featureEmoji {
  font-size: 6rem;
  line-height: 1;
  margin: 1rem 0;
}
