
.content-dates {
    display: flex;
    flex-flow: column nowrap; /* コンテンツを縦に並べる */
    margin-left: 10px; /* 日付とコンテンツの間にスペースを追加 */
    height: 40px;
}

.content-dates div {
    font-style: italic; /* 日付を斜体に */
    height: 20px;
}

.content-date-entry {
    display: flex;
    text-align: right;
    justify-content: flex-end; 
}

.content-date-label {
    margin-right: 8px; /* ラベルと日付の間にスペースを追加 */
}