
.dates-container {
    display: flex;
    flex-flow: column nowrap; /* コンテンツを縦に並べる */
    margin-left: 2px; /* 日付とコンテンツの間にスペースを追加 */
    height: 40px;
    align-items: flex-start; /* コンテンツを左寄せ */
}

.dates-container div {
    font-style: italic; /* 日付を斜体に */
    height: 20px;
}

.date-entry {
    display: flex;
    align-items: flex-end; /* コンテンツを右寄せ */
}

.date-label {
    text-align: right;
    width: 90px; /* ラベルの幅を固定 */
    margin-right: 8px; /* ラベルと日付の間にスペースを追加 */
}

.date-value {
    text-align: left;
    width: 90px; /* 日付の幅を固定 */
}